{% extends 'base.html' %}

{% block content %} 

{% for post in posts %}

<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>           
          <a href='{{post.slug}}'> {{post.title}}  </a>
        <h4> Автор: {{post.author}} </h4>
        
        </h2>
        <h5>{{post.description}}, {{post.date}}</h5>
        <img src="{{post.picture.url}}" alt="Image" width="998" height="450">
        <p> {{post.content}} </p>
      </div>
    </div>
  </div>


    {% endfor %}

{% endblock  %}

