{% extends 'base.html' %}

{% block content %} 

<div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2> {{post.title}} </h2>
        <h4> Автор: {{post.author}} </h4>
        <h5>{{post.description}}, {{post.date}}</h5>
        <img src="{{post.picture.url}}" alt="Image" width="998" height="450">
        <p> {{post.content}} </p>

        {% if is_author %}

        <a href="{% url 'update' slug=post.slug %}">Редактировать пост</a> 
        <br>
        <br>
        <a href="{% url 'delete' slug=post.slug %}">Удалить пост</a> 

        {% endif %}

      </div>
    </div>
  </div>

{% endblock  %}